
<div class="container-fluid p-0" style="max-width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
    <h2 class="navbar-heading">Log in</h2>
  </nav>




  <div class="container" style="max-width: 400px; margin: 0 auto;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary", style: "background-color: #3778c2;" %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>

