<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
  <a class="navbar-brand text-white" href="#">CoinCraft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="text-center text-white w-100">Categories</h1>
</nav>
<% if user_signed_in? %>
  <%= link_to "Welcome, #{current_user.email}", "#", class: "nav-link" %>
<% end %>
 <div class="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
<p style="color: green"><%= notice %></p>

<div id="categories" class="list-group">
  <% @categories.each do |category| %>
    <div class="card mb-2">
      <div class="card-body">
        <%= render category %>
        <a href="<%= category_path(category) %>" class="btn btn-primary">Show this category</a>
      </div>
    </div>
  <% end %>
</div>
<div class="container-fluid fixed-bottom">
  <div class="container">
    <div class="footer-button">
      <%= link_to "Create new category", new_category_path, class: "btn btn-success btn-block", style: "background-color: #5fb523; width: 100%;" %>
    </div>
  </div>
</div>


