<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
  <a class="navbar-brand text-white" href="#"> <img src="<%= asset_path('nav-icon.png') %>" alt="" class="logo" style="margin-left: 10px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="text-center text-white w-100">Categories</h1>
</nav>

<% if user_signed_in? %>
  <%= link_to "Welcome, #{current_user.email}", "#", class: "nav-link" %>
<% end %>

<div class="notifications">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<p style="color: green"><%= notice %></p>

<div id="categories" class="list-group">
  <% @categories.each do |category| %>
    <a href="<%= category_path(category) %>" class="list-group-item list-group-item-action mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <div>
            <img src="<%= category.icon %>" alt="<%= category.icon %>" class="category-icon me-4">
          </div>
          <div>
            <h5 class="card-title"><%= category.name %></h5>
          </div>
        </div>
        <% total_transactions = category.transactions.sum(:amount) %>
        <div class="text-lg font-weight-bold">
          <p>Total Transactions: <%= total_transactions %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>

<footer class="navbar navbar-expand-lg navbar-light" style="background-color: #5fb523;">
  <div class="container">
    <%= link_to "Create new category", new_category_path, class: "btn btn-success btn-block", style: "background-color: #5fb523; width: 100%;" %>
  </div>
</footer>
