<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
<a class="navbar-brand" href="#">
  <img src="<%= asset_path('nav-icon.png') %>" alt="" class="logo" style="margin-left: 10px;">
</a>
  <h1 class="text-center text-white w-100">
Transactions
  </h1>
  <a class="navbar-brand" href="#">
  <img src="<%= asset_path('search-icon.png') %>" alt="" class="logo" style="margin-left: 10px;">
</a>
</nav>

<p style="color: green"><%= notice %></p>
<div class="card mb-3">
  <div class="card-body">
    <%= render @category %>
    <div class="text-right">
      <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-warning" %>
      <%= link_to "Back to all other categories", categories_path, class: "btn btn-secondary" %>
      <%= link_to "Create Transaction", new_transaction_path(category_id: @category.id), class: "btn btn-success" %>
      <%= button_to "Destroy this category", @category, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
<div class="list-group" style="margin-left: 20px;margin-right: 20px;">
  <% @category.transactions.each do |transaction| %>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Name: <%= transaction.name %></h5>
        <p class="card-text">Amount: <%= transaction.amount %></p>
        <%= link_to "Show this transaction", transaction, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
