<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
  <%= link_to categories_path do %>
    <img src="<%= asset_path('arrow-left.png') %>" alt="" class="logo" style="margin-left: 10px;">
  <% end %>
  <h1 class="text-center text-white w-100">
    Transactions
  </h1>
  <a class="navbar-brand" href="#">
    <img src="<%= asset_path('search-icon.png') %>" alt="" class="logo" style="margin-left: 10px;">
  </a>
</nav>

<p style="color: green"><%= notice %></p>
<div class="card mb-3">
  <div class="card-body">
    <%= render @category %>

    <!-- Add the total amount section here -->
    <% total_amount = @category.transactions.sum(:amount) %>
    <div class="text-right">
      <h5 class="card-title">Total Transactions Amount:</h5>
      <p class="card-text">Amount: $<%= total_amount %></p>
    </div>
  </div>
</div>

<div class="list-group" style="margin-left: 20px; margin-right: 20px;">
  <% @category.transactions.each do |transaction| %>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Name: <%= transaction.name %></h5>
        <p class="card-text">Amount: <%= transaction.amount %></p>
        <%= link_to "Show this transaction", transaction, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-fluid fixed-bottom">
  <div class="container">
    <%= link_to "Add a new transaction", new_transaction_path(category_id: @category.id), class: "btn btn-success btn-block w-100", style: "background-color: #5fb523;" %>
  </div>
</div>
