<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3778c2;">
  <%= link_to categories_path do %>
    <img src="<%= asset_path('arrow-left.png') %>" alt="" class="logo" style="margin-left: 10px;">
  <% end %>
  <h2 class="text-center text-white w-100">Transaction</h2>
  <a class="navbar-brand" href="#">
    <img src="<%= asset_path('search-icon.png') %>" alt="" class="logo" style="margin-left: 10px;">
  </a>
</nav>
<p style="color: green"><%= notice %></p>
<div class="card" style="max-width: 400px; margin: 0 auto;">
  <div class="card-body">
    <h2 class="card-title text-center"><%= @transaction.name %></h2>
    <%= render @transaction %>
    <div class="d-flex justify-content-between">
      <%= link_to "Edit this transaction", edit_transaction_path(@transaction), class: "btn btn-primary" %>
      <%= button_to "Destroy this transaction", @transaction, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
